<a href="https://colab.research.google.com/github/seoyeon2022/_-py/blob/main/%EC%88%98%ED%95%99%EC%84%9C%EC%97%B0_%EA%B3%BC%EC%A0%9C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#연습문제 104p. 8번
color = ['빨강','주황','노랑']
name = ['존','메리']
#print(id(new))
print(id(color))

new = color
print(id(new))
print(id(color))

136385925390784
136385925390784
136385925390784

In [ ]:
color = ['빨강','주황','노랑']
name = ['존','메리']
new = color
new.append(name[0])
print(color)
print(new)
new = color[1]
print(id(new))
print(id(color))
print(color)
print(new)

['빨강', '주황', '노랑', '존']
['빨강', '주황', '노랑', '존']
136385687399824
136386754744768
['빨강', '주황', '노랑', '존']
주황

#조건문

In [ ]:
if 조건식:
    실행문장
    실행문장

In [ ]:
if 조건식:
    실행문장1
    실행문장2
else: #else 뒤에는 조건문을 적지 않는다.
    실행문장3
    실행문장4

In [ ]:
if 조건식:
    실행문장1
    실행문장2
elif 조건식: #elif는 여러개 나올수 있음.
    실행문장3
    실행문장4
else:
    실행문장5

In [ ]:
if 1:
    print('good')
else:
    print('False')

good

In [ ]:
if 0:
    print('good')
else:
    print('False')

False

In [ ]:
print(3>5)

False

In [ ]:
print(3>5 <10) # 3>5 and 5<10 , False and True

False

In [ ]:
print((3>5) <10) # 0<10

True

In [ ]:
score = int(input ("Enter your scoge: "))

if score >= 90:
    grade = 'A'
if score >= 80:
    grade = 'B'
if score >= 70:
    grade = 'C'
if score >= 60:
    grade = 'D'
if score < 60:
    grade = 'F'
print (grade) # 올바른 값은 A출력이 나와야함.

Enter your scoge: 98
D

In [ ]:
score = int(input ("Enter your scoge: "))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
print (f'{grade} 학점 입니다.')

Enter your scoge: 98
A 학점 입니다.

In [ ]:
year = int(input ("출생년도 입력: "))
age = 2024 - int(year) + 1

if age <= 26 and age >= 20:
    print("대학생")
elif age < 20 and age >= 17:
    print("고등학생")
elif age < 17 and age >= 14:
    print("중학생")
elif age <= 14 and age >= 8:
    print("초등학생")
else:
    print ("학생이 아닙니다.")

출생년도 입력: 21
학생이 아닙니다.

# 반복문
* for문: 주어진 횟수만큼 반복분을 실행
* while문: 주어진 조건식이 참인 동안 반복문 실행

In [ ]:
#for문 형식, 범위(리스트, range, 문자열)
for i in [-,1,2]:
    print('hello')

In [ ]:
for i in [0,1,2]:
    print('hello')

hello
hello
hello

In [ ]:
for i in [0,1,2]:
    print(i, 'hello')

0 hello
1 hello
2 hello

In [ ]:
num = [0,1,2]
for i in num:
    print(i, 'hello')

0 hello
1 hello
2 hello

,(콤마)
''(작은따옴표), ""(큰따옴표)

In [ ]:
for i in range(1,4): # 1이상 4미만의 수들만큼 반복
    print(f'{i}번 학생 hello')

1번 학생 hello
2번 학생 hello
3번 학생 hello

In [ ]:
for i in range(1,11): # 1이상 11미만의 수들만큼 반복
    print(f'{i}번 학생 hello')

1번 학생 hello

In [ ]:
# 홀수 번만
for i in range(1,11,2): # 1이상 11미만의 수들만큼 반복
    print(f'{i}번 학생 hello')

1번 학생 hello
3번 학생 hello
5번 학생 hello
7번 학생 hello
9번 학생 hello

In [ ]:
# 짝수 번만
for i in range(2,11,2): # 1이상 11미만의 수들만큼 반복
    print(f'{i}번 학생 hello')

2번 학생 hello
4번 학생 hello
6번 학생 hello
8번 학생 hello
10번 학생 hello

In [ ]:
for i in range(1,5): # 1이상 11미만의 수들만큼 반복
    print(f'{2*i + 1}번 학생 hello')

3번 학생 hello
5번 학생 hello
7번 학생 hello
9번 학생 hello

In [ ]:
for i in range(10,0,-1): # -1을 붙여 역순환
    print(f'{i}')
else:
    print('fire!')

10
9
8
7
6
5
4
3
2
1
fire!

In [ ]:
for j in 'python':
    print(f'{j}번 학생 Hello')

p번 학생 Hello
y번 학생 Hello
t번 학생 Hello
h번 학생 Hello
o번 학생 Hello
n번 학생 Hello

In [ ]:
text = 'python'
for j in text:
    print(f'{j}번 학생 Hello')

p번 학생 Hello
y번 학생 Hello
t번 학생 Hello
h번 학생 Hello
o번 학생 Hello
n번 학생 Hello

In [ ]:
for j in 'I love you!':
    print(f'{j}행 *')

I행 *
 행 *
l행 *
o행 *
v행 *
e행 *
 행 *
y행 *
o행 *
u행 *
!행 *

In [ ]:
for i in range(0,3):
    print(i,'*')

0 *
1 *
2 *

In [ ]:
for i in range(0,3): # i->    0,     1,     2
    for j in range(3):# j-> 0,1,2 / 0,1,2 / 0,1,2
        print(i, j, '*')#  *,*,* / *,*,* / *,*,*
    print()

0 0 *
0 1 *
0 2 *

1 0 *
1 1 *
1 2 *

2 0 *
2 1 *
2 2 *

In [ ]:
for i in range(0,3): # i->    0,     1,     2
    for j in range(3):# j-> 0,1,2 / 0,1,2 / 0,1,2
        print('*', end = '')#  *,*,* / *,*,* / *,*,*
    print()

***
***
***

In [ ]:
for i in range(2,10): # i->    2,     3,     4
    for j in range(1,10):# j-> 1,2,3,...,9 /1,2,3,...,9 /1,2,3,...,9
        print(f'{i} * {j} = {i*j}')#  @
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# break문
for i in range(10):
    if i ==5:

In [ ]:
# continue문
for i in range(10):
    if i ==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

#연습문제 156p. 서연 답안(7,9번 제외)
* 1번: 2
* 2번: 3
* 3번: 4-
* 4번: 3
* 5번: 4, 5
* 6번: 5
* 7번: 1
* 8번: 4-
* 9번: 5
* 10번: 2
* 11번: 4
* 12번: 2
* 13번: 2
* 14번: 1

In [ ]:
# 1번 문제
year = int(input('나이를 입력하세요.: '))

if 1 <= year <= 7:
    print('아직 학교를 다닐 나이가 아닙니다. ')
elif 8 <= year <= 13:
    print('초등학생입니다. ')
elif 14 <= year <= 16:
    print('중학생입니다. ')
elif 17 <= year <= 19:
    print('고등학생입니다. ')
elif 20 <= year:
    print('성인입니다. ')
else:
    print('1부터의 정수를 입력해 주세요.')

나이를 입력하세요.: ABC

ValueError: invalid literal for int() with base 10: 'ABC'

In [ ]:
# 2번 문제
for a in range(8):
    a *= (a-1)
print(a)

42

In [ ]:
# 4번 문제
t = '5'

for n in range(int(t)):
    print('t')

t
t
t
t
t

In [ ]:
# 6번 문제
my_list = ['i', 'like', 'studying', 'python ']
new_list = []
i = len(my_list)
if i == 4:
    new_list.append (my_list[::2])
print(new_list)

[['i', 'studying']]

In [ ]:
# 7번 문제
num =[1,2,3,4,5,6]
total = 1
for n in num:
    total = n * n

In [ ]:
# 10번 문제
numbers = ['10', '11', '12', '13', '14', '15', '16', '17']
total = 0
for number in numbers:
    if int(number) %5 == 0:
        total += int(number)
    else:
        total += 10
print(total)

85

In [ ]:
money = 1500
snack = 500
water = 1000
while money != 0:
    if money > 1000:
        money -= water
    elif 0 <money <= 1000:
        money -= snack * 2
    else:
        money = money + 500
print(money)

0

In [ ]:
# 13번 문제
list_data_a =[1, 2]
list_data_b =[3, 4]
for i in list_data_a:
    for j in list_data_b:
        result = i + j
print(result)

6

In [ ]:
list_1 = [[1,2], [3], [4,5,6]]
a,b,c = list_1
list_2 = a + b + c
print(list_2)

[1, 2, 3, 4, 5, 6]