<a href="https://colab.research.google.com/github/seoyeon2022/_-py/blob/main/%EC%88%98%ED%95%99%EC%84%9C%EC%97%B00321.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트
* 인덱싱
* 슬라이싱
* 연결연산자, 반복연산자, 포함연산자
* 추가, 삭제

In [ ]:
numList = [10,20,30,40,50]
print(numList[0])
print(numList[-1])
print(len(numList))
print(numList[len(numList)-1])

10
50
5
50

In [ ]:
numList = [10,20,30,40,50]
print(numList[:])
print(numList[1:])
print(numList[1:4]) #1이상 4미만의 요소들만 추출
print(numList[1:4:2])
print(numList[::-1])
print(numList[::-2])

[10, 20, 30, 40, 50]
[20, 30, 40, 50]
[20, 30, 40]
[20, 40]
[50, 40, 30, 20, 10]
[50, 30, 10]

In [ ]:
numList = [10,20,30,40,50]
nameList = ['kim', 'park']
print(nameList + numList)
print(len(nameList) + len(numList))

['kim', 'park', 10, 20, 30, 40, 50]
7

In [ ]:
numList = [10,20,30,40,50]
nameList = ['kim', 'park']
totalList = numList + nameList
print(totalList)
print(totalList[5])
print(totalList[4:6])
print(totalList[-1])
print(totalList[::-1])
print(totalList[::-3])

[10, 20, 30, 40, 50, 'kim', 'park']
kim
[50, 'kim']
park
['park', 'kim', 50, 40, 30, 20, 10]
['park', 40, 10]

In [ ]:
nameList = ['kim', 'park']
print(nameList*3)

['kim', 'park', 'kim', 'park', 'kim', 'park']

In [ ]:
# 포함연산자(in, not in)
nameList = ['kim', 'park']
print('kim' in nameList)
print('kim' not in nameList)
print('lee' in nameList)
print('lee' not in nameList)

True
False
False
True

In [ ]:
nameList = ['kim', 'park']
nameList.append('kang')
print(nameList)

['kim', 'park', 'kang']

In [ ]:
# None
nameList = ['kim', 'park']
print(nameList.append('kang'))

None

In [ ]:
#시험 예시
nameList  ['kim', 'park']
nameList.extend(['kang'])
print(nameList)

['kim', 'park', 'kang']

In [ ]:
#예시2 (옳지 않은 코드)
nameList = ['kim', 'park']
nameList.insert(1,'kang')
print(nameList)

['kim', 'kang', 'park']

In [ ]:
numList = [100,20,350,40,150]
numList.sort()
print(numList)

[20, 40, 100, 150, 350]

In [ ]:
# None
numList = [100,20,350,40,150]
print(numList.sort())

None

In [ ]:
print(len(nameList))

3

In [ ]:
nameList = ['kim', 'park', 'kang']
nameList.insert(1,'lee')
print(nameList)

['kim', 'lee', 'park', 'kang']

In [ ]:
nameList = ['lee', 'kim', 'park', 'kang']
numList = [10,20,30]
nameList.extend(numList)
print(nameList)

['lee', 'kim', 'park', 'kang', 10, 20, 30]

In [ ]:
nameList = ['lee', 'kim', 'park', 'kang']
numList = [10,20,30]
numList.extend(nameList)
print(numList)

[10, 20, 30, 'lee', 'kim', 'park', 'kang']

In [ ]:
numList = [10, 20, 30, 'lee', 'kim', 'park', 'kang']
numList.remove('lee')
print(numList)

[10, 20, 30, 'kim', 'park', 'kang']

In [ ]:
numList = [10, 20, 30, 'kim', 'park', 'kang']
numList[3] = 'cha'
print(numList)

[10, 20, 30, 'cha', 'park', 'kang']

In [ ]:
numList = [10, 20, 30, 'cha', 'park', 'kang']
del numList[3]
print(numList)

[10, 20, 30, 'park', 'kang']

In [ ]:
print(numList)
del numList

[10, 20, 30, 'cha', 'park', 'kang']

In [ ]:
# NameError: name 'numList' is not defined
del numList
print(numList)

NameError: name 'numList' is not defined

In [ ]:
nameList = ['kim', 'park'] #패킹
name1, name2 = nameList #언패킹
print(name1, name2)

kim park

In [ ]:
# ValueError: not enough values to unpack (expected 3, got 2)
nameList = ['kim', 'park'] #패킹
name1, name2, name3 = nameList #언패킹
print(name1, name2, name3)

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
nameList = ['kim', 'park', 'lee']
print(id(nameList))

139437606582400

In [ ]:
print(id(nameList[0]))
print(id(nameList[1]))
print(id(nameList[2]))

139437882397232
139437882397360
139437607051888

In [ ]:
a = 300
b = 300
print(a is b) #a와 b의 주소 위치 다르므로 false
print(id(a))
print(id(b))
print(a == b) # a와 b의 값은 같다 True

False
139437032619088
139437032618096
True

In [ ]:
kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79,48, 60, 100]

midterm_score = [kor_score, math_score, eng_score]
print(midterm_score)

math_score[0] = 1000
print(midterm_score)

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]
[[49, 79, 20, 100, 80], [1000, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [ ]:
a = ["color", 1, 0.2]
color = ['노랑', '파랑', '초록', '검정', '보라']
a[0] = color # 리스트 안에 리스트도 입력 가능
print(a)

[['노랑', '파랑', '초록', '검정', '보라'], 1, 0.2]

In [ ]:
# 3장 연습문제 1번
a = [1]
b = ['a', 'b', 'c']
b[1] = a[0]
print(b)

['a', 1, 'c']